# Remove Apple OS Files
.DS_Store
site/
.tox/
virtenv/
docs/Workshop_Areas/Visual_Arts/Equipment/images/yellow.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/red.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/origin_settings.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/lightburn_layout.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/lightburn_controls.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/layers.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/laser_bed.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/green.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/file_list.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/cut_selection.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/cut_options.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/bluey_control_panel.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/bluey_buttons.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/bed-height-guide.png
venv
.claude/settings.local.json