site_name: Hackspace Manchester Documentation
site_url: https://docs.hacman.org.uk
repo_url: https://github.com/HACManchester/documentation/

theme:
  name: material
  palette:
  # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
   # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: deep orange
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: yellow
      toggle:
        icon: material/brightness-2
        name: Switch to light mode
  features:
    - navigation.instant # better loading of internal links
    - navigation.tabs # top-level sections appear in menu header
    - navigation.path # show path at top of page
    - navigation.indexes # allows overview page for each section
    - toc.follow # side-bar keeps up with current location
    - navigation.top # 'back to top' button
    - navigation.footer # 'Next' and 'previous' page links in footer

plugins:
  - search # Allows searching through documentation
  - emailprotect # protects email addresses from bots
  - awesome-nav: # easy page navigation design
      filename: navigation_structure.yml
  - git-revision-date-localized

markdown_extensions:
  - pymdownx.highlight:
      use_pygments: false
  - attr_list
  - md_in_html
  - pymdownx.keys
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - assets/js/hljs/config.js

    # Sortable tables
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - assets/js/sorttable/config.js

extra_css:
  - extra.css